Use this form to search for other users on this site.
<br/>
<form id="search" action="/search" method="post">
  <fieldset>
  <label>Email</label>
  <br/>
  <input name="email" type="text"/><br/>
  <input type="submit" value="Search Users"/>
  </fieldset>
</form>