<form id="sign_up" action="/sign_up" method="post">
  <label>Email</label>
  <input name="email" type="text"/><br/>
  <label>Password</label>
  <input name="password" type="text"/><br/>
  <input type="submit" value="Sign up!"/>
</form>
